---
layout: category
category: customizing-odin
title: Customizing Odin
---
Qui sommes nous ?

Data against Covid c’est une organisation informelle issue de la société civile avec des développeurs, des data scientists, des ingénieurs, des chefs de projets et talents de tous les corps de métiers qui s’organisent ensemble pour fournir des données consolidées sur l’épidémie de Covid 19 et proposer des outils de visualisation. 

{% for post in site.categories.customizing-odin %}
  {% include article-card.html %}
{% endfor %}
